#index_part2 {
  width: 100%;
  height: 190px;
  margin: auto;
  margin-top: 40px;
}
#elements {
  display: grid;
  grid-template-columns: 185px 190px 190px 190px 190px 190px 190px 185px;
  grid-template-rows: 220px;
  gap: 0.1%;
  padding-top: 25px;
  box-shadow: 5px 5px 5px 5px lightgray;
}
#elements > div > p {
  text-align: center;
  font-size: 20px;
  font-family: "Big Shoulders Display", sans-serif;
  color: rgb(111, 111, 111);
}
#elements > div > img {
  margin-left: 70px;
  margin-bottom: 10px;
}
#elements > div {
  margin-left: 190px;
  margin-right: -190px;
}
#grid-green {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 280px;
  gap: 10px;
  margin-top: -60px;
  justify-content: center;
}
#green-cont {
  width: 73%;
  border-radius: 20px;
  background-color: #5fb92a;
  margin: auto;
}
#grid-green > div > ul > li > p,
#grid-green > div > h3 {
  color: white;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 20px;
}
#grid-green > div > ul > li > p {
  font-size: 20px;
  letter-spacing: 0.3px;
}
#grid-green > div > h3 {
  letter-spacing: 1px;
  margin-left: 10px;
}
.check {
  list-style-image: url(https://desktime.com/assets/img/icons/bullet-point-check_white.svg);
}
/* Large devices exact width :900px) */
@media only screen and (max-width: 900px) {
  #elements {
    grid-template:
      "auto-time screenshots url-app-track "
      "doc-track project-track cost-cal";
    margin-bottom: 10px;
    padding-bottom: 60px;
  }
  #elements > div {
    margin-left: 40px;
  }
  #elements > div > p {
    margin-left: -110px;
  }
  #grid-green {
    grid-template:
      "boost"
      "mini"
      "organize";
  }
}

/* Small devices with exact 600px */
@media only screen and (max-width: 600px) {
  #elements > div {
    margin-left: 40px;
  }
  #elements > div > p {
    margin-left: -100px;
  }
  #elements {
    grid-template:
      "auto-time screenshots"
      "url-app-track doc-track"
      " project-track cost-cal";
    margin-bottom: 10px;
    padding-bottom: 60px;
  }
  #grid-green {
    grid-template:
      "boost"
      "mini"
      "organize";
  }
}

#third_part {
  width: 70%;
  /* height: 80%; */
  /* border: solid red; */
  margin: auto;
  margin-top: 350px;
}

/* #third_part > div:nth-child(2){
    height: 250px;
} */

span,
.green {
  color: #5fb92a;
}

span,
.text_bold {
  font-weight: bold;
}

.pointer1 {
  cursor: pointer;
}

span:hover,
.pointer2:hover {
  color: green;
  cursor: pointer;
  text-decoration: underline;
}

.flex_class {
  display: flex;
  flex-direction: column;
}

.basis_50 {
  flex-basis: 50%;
}
/* .basis_20{
    flex-basis: 20%;
} */

p {
  font-family: "Big Shoulders Display", cursive;
  color: darkgray;
  max-width: 100%;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  color: black;
  max-width: 100%;
}

.max_width_80 {
  max-width: 80%;
}

.max_width_100 {
  max-width: 100%;
}

.little_margin_top {
  margin-top: 5%;
}
.lr_gap > div {
  margin: 0% 10%;
  padding: 0%;
  /* border: solid pink; */
}

.div_strikes {
  width: 70%;
  height: 3px;
  background: darkgray;
  margin: auto;
  margin-bottom: 20%;
  border-radius: 10px;
  /* grid-area: strike; */
}

.grid_class {
  display: grid;
}

.template_column1 {
  /* grid-template-columns: auto auto auto auto auto; */
  grid-template: "team business enterprise agency freelance";
  text-align: center;
}

#team {
  grid-area: team;
}
#business {
  grid-area: business;
}
#enterprise {
  grid-area: enterprise;
}
#agency {
  grid-area: agency;
}
#freelance {
  grid-area: freelance;
}

.template_column2 {
  /* grid-template-columns: auto auto auto auto auto; */
  /* width: 60%; */
  grid-template: "des pic";
  /* padding: 5%; */
  /* background: pink; */
  /* text-align: center; */
  /* gap: 20%; */
}

#description {
  grid-area: des;
  margin-top: 5%;
}

#picture {
  grid-area: pic;
}

#feature_photo {
  width: 100%;
  height: auto;
}

.direction_row {
  flex-direction: row;
}

/* #third_part > div{
    /* border: solid black; */
/* height: 50%; */

/* #demo{
    border: solid teal;
}
#demo > div{
    border: solid red;
    margin: 0% 5%;
    /* flex-basis: 20%; */

.normal_size {
  font-size: 20px;
}

.medium_size {
  font-size: 22px;
}

.small_size {
  font-size: 15px;
}

.center_align {
  text-align: center;
}

.decrease_width {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .template_column2 {
    grid-template:
      "pic"
      "des";
  }

  .medium_size {
    font-size: 15px;
  }
  #third_part {
    margin-top: 900px;
  }
}

@media only screen and (max-width: 600px) {
  .template_column1 {
    grid-template:
      "team"
      "business"
      "enterprise"
      "agency"
      "freelance";
  }
  .div_strikes {
    width: 100%;
    height: 1px;
  }
  #third_part {
    margin-top: 1050px;
  }
}
